@font-face {
	font-family: 'Bazar';
	src: url(../fonts/Bazar.ttf) format("truetype")
}

@font-face {
	font-family: 'Athena';
	src: url(../fonts/Athena.ttf) format("truetype")
}

body {
	font-family: 'Athena';
	margin: 0;
	padding: 0;
	background-image: url(../images/back.png);
	/* background-size: 100%; */
	transition: .3s
}

.header {
	display: flex;
	width: 100%;
	height: 100px;
	align-items: center;
	justify-content: center
}

.heading {
	font-family: 'Bazar';
	font-size: 60px;
	color: #323232
}

.form {
	display: flex;
	justify-content: center;
	align-items: center
}

.button {
	padding: 5px 15px;
	margin: 15px;
	outline: none;
	border: 3px solid #fff;
	box-shadow: 0 0 0 1px #5a5a5a inset 0 0 0 1px #5a5a5a 0 2px 0 2px #646464;
	text-shadow: 0 -1px #5a5a5a -1px 0 #5a5a5a;
	border-radius: .3em;
	color: #fff;
	background-color: #5a5a5a;
	/* background-image: repeating-linear-gradient(-45deg,
            rgb(100, 100, 100),
            rgb(100, 100, 100) 6px,
            rgb(90, 90, 90) 6px,
            /* rgb(90, 90, 90) 12px); */
	font-family: 'M PLUS 1p', sans-serif;
	font-size: 1.3em;
	font-weight: 700;
	cursor: pointer;
	transition: background-color .3s
}

.button:hover {
	background-color: rgba(75, 135, 71)
}

.input {
	outline: none;
	margin: 15px;
	border: 3px solid #c8c8c8;
	box-shadow: 0 0 0 1px #5a5a5a inset 0 0 0 1px #5a5a5a 1px 2px 0 2px #646464;
	border-radius: .3em;
	color: #323232;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
	transition: .3s;
	height: 33px;
	width: 250px
}

.input:focus,
.input:hover {
	border-color: rgba(75, 135, 71, 0.5);
	box-shadow: 0 0 0 1px rgba(75, 135, 71), inset 0 0 0 1px rgba(75, 135, 71), 0 2px 0 2px rgba(85, 134, 82)
}

.input,
.button {
	font-family: 'athena', monospace;
	border-radius: 15px;
	text-align: center
}

.button:active {
	box-shadow: none
}

.nodata {
	color: rgb(100, 100, 100);
	font-family: 'athena', monospace;
	text-align: center
}

.output {
	display: flex;
	flex-direction: column;
	border: 5px solid #323232;
	border-radius: 35px;
	margin: 10px;
	padding: 10px;
	/* padding-left: 20px; */
	font-size: 30px;
	color: #323232
		/* font-style: italic; */
}

.innerdiv {
	border-radius: 35px;
	border: solid 5px #323232;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	width: 60%;
	height: 300px;
	font-size: 20px;
	display: flex
}

.text {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* height: 250px; */
	padding-left: 10px;
	justify-content: center
		/* align-items: center; */
}

b {
	text-transform: uppercase;
	font-family: 'Bazar';
	font-size: 25px;
	margin-bottom: 15px
}

.img_div {
	display: flex;
	justify-content: center;
	align-items: center
}

.img {
	border-radius: 35px
}

a {
	color: #1a9696;
	transition: 0.3s;
}

@media screen and (max-width: 800px) {
	.innerdiv {
		flex-direction: column;
		width: 80%;
		height: fit-content
	}

	.form {
		flex-direction: column
	}

	.text {
		/* text-align: center; */
		padding: 0
	}

	.img {
		width: 50%;
		height: auto
	}
}

.line {
	width: 90%;
	height: 1px;
	background-color: #646464
}

a:hover {
	color: #20d4d4;
}