@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Noto+Sans&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #121212;
    color: white;
}

header {
    background-color: rgba(65, 64, 64, 0.2);
    text-align: center;
    padding: 10px;
    font-family: 'Noto Sans', sans-serif;
}

.head {
    /* add glow effect */
    text-shadow: 0 0 2px #1eff00;
    color: #fefefe;
    transition: 1s;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.head:hover {
    text-shadow: 0 0 20px #fff;
}

.welcome_para {
    text-align: center;
    padding: 2%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
}

.para {
    font-family: 'exo 2';
}

.maindiv {
    /* position: relative; */
    /* z-index: 0; */
    text-align: center;
    padding: 1%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    width: 650px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    font-family: 'exo 2';
    display: flex;
    transition: 0.3s;
}

.child {
    /* position: relative; */
    text-align: center;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    font-family: 'exo 2';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.info {
    font-family: 'exo 2';

}

.card {
    width: 173px;
    height: 300px;
    z-index: -1;
    position: relative;
    background-color: white;
    border-radius: 10px;
    color: #121212;
    top: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child:hover .info {
    opacity: 0;
}

.child:hover .card {
    top: 150px;
}

.maindiv:has(.child:hover) {
    height: 300px;
}

.maindiv:has(.child:hover) .info {
    opacity: 0;
}


.child:hover {
    opacity: 1;
    box-shadow: 5px 5px 25px rgba(255, 255, 255, 1);
}

.childdiv1 {
    background-image: url('bot.jpg');
    background-size: 170px;
}

.childdiv2 {
    background-image: url('news.jpg');
    background-size: 180px;
}