@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #191919;
    /* background-color: #121321; */
    color: white;
    overflow-x: hidden;
}

.header {
    position: relative;
    display: flex;
    /* background-color: #1f2833; */
    /* text-align: left; */
    align-items: flex-start;
    padding: 10px;
    font-family: "Roboto Condensed", 'Noto Sans', sans-serif;
    font-size: 30px;
}

.head {
    position: relative;
    /* add glow effect */
    text-shadow: 0 0 100px rgba(255, 255, 255, 0.1);
    color: #66fcf1;
    transition: 0.6s;
    width: fit-content;
    height: 70px;
    margin: auto;
    /* align-self: self-start; */
}

.head:after {
    content: '';
    position: absolute;
    width: 87%;
    transform: scaleX(0);
    height: 6px;
    bottom: 0;
    left: 0;
    background-color: #66fcf1;
    transform-origin: bottom right;
    transition: transform 0.6s cubic-bezier(0.86, 0, 0.07, 1);
}

.head:after {
    box-shadow: 5px 5px 10px #6ffff5;
}


.head:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.head:hover {
    text-shadow: 2px 2px 50px #81fde2;
}

.welcome_para {
    text-align: left;
    padding: 2%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 80%; */
    font-size: 20px;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    box-shadow: -15px -5px 20px -10px rgba(102, 252, 241, 0.6);
    border-left: #66fcf1 solid 5px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
}

.section1::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    background: linear-gradient(130deg, blue, green);
    border-radius: 50%;
    top: -3%;
    left: -10%;
    animation: move 80s infinite ease-out;
}

.section2::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    background: linear-gradient(90deg, #9c27b0, yellow);
    border-radius: 50%;
    top: 3%;
    right: 15%;
}


.section2::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    background: linear-gradient(130deg, #9c27b0, red);
    border-radius: 50%;
    top: 70%;
    left: 25%;
    animation: rotate 20s infinite linear;
}

@keyframes move {
    0% {
        left: -20%;
        top: -3%;
    }

    10% {
        top: 10%;
    }

    20% {
        top: 15%;
    }

    30% {
        top: 30%;
    }

    40% {
        top: 32%;
    }

    50% {
        top: 40%;
    }

    70% {
        top: 60%;
    }


    100% {
        left: 100%;
        top: 70%;
    }
}

@keyframes rotate {
    0% {
        transform: rotatez(0deg);
    }

    100% {
        transform: rotatez(360deg);
    }
}

/* make the section2 have smooth moving animation*/


.section1::after {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    background: linear-gradient(90deg, #9c27b0, #008170);
    border-radius: 50%;
    bottom: 3%;
    right: 3%;
}

.para {
    font-family: 'exo 2';
}

.maindiv {
    /* position: relative; */
    /* z-index: 0; */
    text-align: center;
    /* padding:; */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30%;
    width: 100%;
    height: 200px;
    /* background-color: rgba(255, 255, 255, 0.05); */
    border-radius: 10px;
    /* box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1); */
    font-family: 'exo 2';
    display: flex;
    transition: 0.3s;
    justify-content: space-evenly
}


.card:hover {
    opacity: 1;
    box-shadow: 5px 5px 25px rgba(255, 255, 255, 0.3);
    height: 380px;
}

.childdiv1 {
    background-image: url('bot.jpg');
    background-size: 300px;
}

.childdiv2 {
    background-image: url('news.jpg');
    background-size: 300px;
}

a {
    text-decoration: none;
    padding: none;
    margin: none;
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 350px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 25px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(25px);
    transition: 0.55s;
}

.child {
    /* display: block; */
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 25px;
    top: 0px;
    opacity: 1;
    transition: 0.3s;
}

.name {
    position: relative;
    top: -15px;
    transition: 0.3s;
}

.card:hover .child {
    opacity: 1;
    width: 240px;
    height: 240px;
    top: 15px;
    background-size: 240px;
}

.card:hover .name {
    opacity: 0;
    /* display: none; */
}

.info {
    position: absolute;
    opacity: 0;
    top: 67%;
    transition: 0.6s;
}

.card:hover .info {
    opacity: 1;

}

/* change the flex direction of main div when using a phone */
@media screen and (max-width: 700px) {
    .maindiv {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 80em;
        margin-bottom: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .card {
        height: 350px;
        width: 300px;
    }

    .welcome_para {
        width: 85%;
    }

    .section2::before {
        top: 100%;
    }

    @media screen and (max-width: 400px) {
        .head {
            font-size: 50px;
        }
    }
}

[data-animation] {
    animation: var()
}